.nav{
    display: flex;
    justify-content: space-evenly;
    margin-left: 700px;
} 
.nav>a{
    text-decoration: none; 
    color:wheat;
}
.overall{
    
    background-image: url("muthu5.jpg");
    background-size: cover;
    background-position: top center;

}
.content{
    text-align: center;
    height: 80vh;
    padding-top: 10px;
    font-size: xx-large;
    color: white;
    
}
.link{
    text-indent:80px;
    color: white;
}